<div class="sub-category">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="fw-500">{{ headContentName || 'المحتوي الراسي' }}</h1>
      </div>
      <div class="col-sm-6 mt-2 mt-sm-0 d-flex justify-content-sm-end align-items-center">
        <button class="btn btn-addSection fw-bold" (click)="openAddModal()">
          اضافة بلوك جديد
        </button>
      </div>
    </div>

    <div class="content-product">
      <div class="row">
        @if(!hasLoaded) {
        <!-- فاضي خالص عشان عندك loader global -->
        }
        @else if(Products.length > 0) {
        @for (product of Products; track product.id) {
        <div class="col-12">
          <app-product-block [product]="product" (edit)="openEditModal($event)" (delete)="deleteProduct($event)"
            (addSub)="openAddSubBlock($event)" (viewSub)="openSubBlocksModal($event)">
          </app-product-block>
        </div>
        }
        }@else {
        <div class="not-found d-flex justify-content-center align-items-center">
          <h1 class="fw-bold">لا توجد بيانات</h1>
        </div>
        }
      </div>
    </div>

    <div class="modal fade" id="subCategoryModal" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

          <!-- ================= Header ================= -->
          <div class="modal-header justify-content-between">
            <h1 class="modal-title fs-5 fw-bold">
              {{ isEditMode ? 'تعديل منتج' : 'إضافة منتج جديد' }}
            </h1>
            <button type="button" class="btn-close m-0" (click)="modalInstance.hide()" aria-label="Close">
            </button>
          </div>

          <!-- ================= Form ================= -->
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="modal-body">

              <!-- ================= Category Select ================= -->
              <div class="mb-3">
                <label class="form-label">المحتوي الراسي</label>
                <select class="form-select" formControlName="headContentId" (change)="onCategoryChange($event)">
                  <option [ngValue]="null" disabled>اختر المحتوي</option>
                  @for(head of headcontents; track head.id){
                  <option [value]="head.id">
                    {{head.title}}
                  </option>
                  }
                </select>
                @if(form.get('headContentId')?.invalid && form.get('headContentId')?.touched){
                <small class="text-danger">
                  يجب اختيار المحتوي الراسي
                </small>
                }
              </div>

              <!-- ================= BlockType ================= -->

              <div class="mb-3">
                <label class="form-label">النوع</label>
                <select class="form-select" formControlName="BlockType" (change)="onBlockTypeChange()">
                  <option [ngValue]="null" disabled>اختر النوع</option>
                  @for(type of blockTypes; track type.value){
                  <option [value]="type.value">
                    {{type.label}}
                  </option>
                  }
                </select>
                @if(form.get('BlockType')?.invalid && form.get('BlockType')?.touched){
                <small class="text-danger">
                  النوع مطلوب
                </small>
                }
              </div>

              <!-- ================= Title ================= -->

              @if(selectedBlockType){
              <div class="mb-3">
                <label class="form-label">العنوان</label>
                <input type="text" class="form-control" formControlName="title">
              </div>
              }

              <!-- ================= DataJson ================= -->

              @if(selectedBlockType === 'Text' || selectedBlockType === 'VideoList' || selectedBlockType ===
              'ListItems'){
              <div class="mb-3">
                <label class="form-label">{{dataLabel}}</label>
                <input type="text" class="form-control" formControlName="DataJson" [placeholder]="dataLabel">
              </div>
              }
              <!-- ================= Sort Order ================= -->
              <div class="mb-3">
                <label class="form-label">رقم ترتيب العرض</label>
                <input type="number" class="form-control" formControlName="sortOrder" />
                @if(form.get('sortOrder')?.invalid && form.get('sortOrder')?.touched){
                <small class="text-danger">
                  رقم ترتيب العرض مطلوب
                </small>
                }
              </div>

              <!-- ================= Image Upload ================= -->
              @if(selectedBlockType === 'Image' || selectedBlockType ===
              'ListItems'){
              <div class="mb-3">
                <label class="form-label">الصورة</label>
                <input type="file" class="form-control" accept="image/*" (change)="onFileSelected($event)" #fileInput>
                <!-- preview -->
                @if(imagePreview){
                <div class="mt-3 text-center">
                  <img [src]="imagePreview" class="img-fluid rounded" style="max-height:180px">
                </div>
                }
              </div>
              }

            </div>

            <!-- ================= Footer ================= -->

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="modalInstance.hide()">
                إلغاء
              </button>

              <button type="submit" class="btn btn-addModel" [disabled]="form.invalid">
                {{ isEditMode ? 'حفظ التعديل' : 'إضافة' }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="modal fade" id="subBlocksModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <div class="modal-header">
            <h5>الـ Sub Blocks</h5>
          </div>

          <div class="modal-body">

            @if(selectedBlock && selectedBlock.childBlocks && selectedBlock.childBlocks.length > 0){
            @for(sub of selectedBlock.childBlocks; track sub.id){
            <app-product-block [product]="sub" (edit)="openEditModal($event)" (delete)="deleteProduct($event)">
            </app-product-block>
            }
            } @else {
            <p>لا يوجد بيانات</p>
            }

          </div>

        </div>
      </div>
    </div>

  </div>
</div>
