<div class="sub-category">
  <div class="container-fluid py-3">
    <div class="row">
      <div class="col-sm-6">
        <h1 class="fw-500">مستحضرات التجميل</h1>
        <h3>اختر القسم الذي تريد الوصول اليه</h3>
      </div>
      <div class="col-sm-6 mt-2 mt-sm-0 d-flex justify-content-sm-end align-items-center">
        <button class="btn btn-addSection" data-bs-toggle="modal" data-bs-target="#addSection">إضافة منتج
          جديد</button>
      </div>
    </div>

    <div class="row mt-1 g-3">
      <div class="col-lg-6">
        <div class="card p-4">
          <h4 class="card-title fw-600 mb-2">
            منتجات العناية بالبشره
          </h4>

          <div class="section active d-flex justify-content-between align-items-center mt-3" (click)="goToProducts();">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card p-4">
          <h4 class="card-title fw-600 mb-2">
            منتجات العناية بالبشره
          </h4>

          <div class="section active d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
          <div class="section d-flex justify-content-between align-items-center mt-3">
            <h5>التونرات</h5>
            <div class="action">
              <button class="btn btn-edit" data-bs-toggle="modal" data-bs-target="#editSection"><i
                  class="fas fa-edit"></i></button>
              <button class="btn btn-delete"><i class="fas fa-trash"></i></button>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>


    <!-- add Modal -->
    <div class="modal fade" id="addSection" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header justify-content-between">
            <h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">إضافة قسم جديد</h1>
            <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="sectionName" class="form-label">اسم القسم</label>
                <input type="text" class="form-control" id="sectionName" name="sectionName" required>
              </div>
              <div class="form-group mt-3">
                <label for="subAddress" class="form-label">اسم المنتج</label>
                <input type="text" class="form-control" id="subAddress" name="subAddress" required>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-around align-items-center">
              <button type="button" class="btn btn-addModel">اضافة</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- edit Modal -->
    <div class="modal fade" id="editSection" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header justify-content-between">
            <h1 class="modal-title fs-5 fw-bold" id="staticBackdropLabel">تعديل القسم</h1>
            <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form>
            <div class="modal-body">
              <div class="form-group">
                <label for="sectionName" class="form-label">اسم القسم</label>
                <input type="text" class="form-control" id="sectionName" name="sectionName" required>
              </div>
              <div class="form-group mt-3">
                <label for="subAddress" class="form-label">اسم المنتج</label>
                <input type="text" class="form-control" id="subAddress" name="subAddress" required>
              </div>
            </div>
            <div class="modal-footer d-flex justify-content-around align-items-center">
              <button type="button" class="btn btn-addModel">تعديل</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
